 <script type="text/ng-template" id="ujian.html">
        <div ng-show="state == 'ujian'">
        <div class="row">
            <div class="col-sm-2 bg-light ">
            <div class="row">
              <div class="col-sm-2 d-flex align-items-center justify-content-center p-0" ng-repeat="s in soal">
                  <button class="btn d-block p-2" ng-class="{'btn-primary': (s.no == soal[currentSoal].no), 'btn-danger': (s.no != soal[currentSoal].no && jawaban[s.no].jawaban == null), 'btn-success': (s.no != soal[currentSoal].no && jawaban[s.no].jawaban != null)}" ng-click="bukaSoal(s.no)" ><small>{{ s.no }}</small></button>
              </div>
            </div>
            </div>
            <div class="col-sm-10">
              <div class="d-flex justify-content-between">
                <div class="align-self-start pt-2"><h3>SIMULASI UJIAN: {{ jenisSoal == "biasa"? "Seleksi Kompetensi" : "Wawancara" }}</h3>
                </div>
                <div class="align-self-end">
                  <div class="bg-warning text-white p-2">
                    <h3> {{ kalkulasiWaktu(currentTimer) }}</h3>
                    <button class="btn btn-danger" ng-show="bolehSelesai" ng-click="selesaiKah()">Selesai Ujian</button>
                  </div>
                </div>
              </div>
              <hr>
            
            <div><h4><p>{{ soal[currentSoal].no }}. {{ soal[currentSoal].soal }}</p></h4></div>
            <p>
            <div class="radio" ng-repeat="opsi in ['A','B','C','D','E']">
              <label>
                <h5><input ng-model="x.currentJawaban" type="radio" ng-value="opsi" > {{ opsi + '. ' + soal[currentSoal]['jawaban_' + opsi] }}</h5>
              </label>
            </div>
            
            
            <hr>
            
            <button class="btn btn-success" ng-click="simpanDanLanjutkan()" ng-show="x.currentJawaban">Simpan dan Lanjutkan</button>
            
            <button class="btn btn-warning" ng-click="lewatkan()">Lewatkan</button>
            </p>
            </div>
            </div>
            <hr>
            <small>
            <i>HINT (PETUNJUK INI TIDAK AKAN DIMUNCULKAN KETIKA UJIAN YANG SEBENARNYA)</i><br>
            <i>Pastikan untuk menyimpan jawaban, pilih pada opsi jawaban lalu klik SIMPAN DAN LANJUTKAN.
               Jika memilih jawaban tapi klik LEWATKAN, maka jawaban tidak akan tersimpan. 
               Dalam sisa waktu yang diberikan (di pojok kanan atas), 
               pastikan semua soal terjawab semua (nomor soal berwarna hijau semua).
                Anda dapat mengerjakan soal secara acak tidak harus dimulai dari nomor 1, caranya tinggal klik nomor soal di sebelah kiri 
                (jawaban saat ini tidak akan tersimpan jika Anda klik nomor soal sebelum klik SIMPAN DAN LANJUTKAN).</i></small>

            
        </div>
        <div ng-show="state == 'finish'">
            <h3>Nilai Anda</h3>
            <table class="table">
                <tbody>
                    <tr ng-repeat="(key,val) in nilai">
                        <td><strong>{{ key }}</strong></td>
                        <td>{{ val }}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" ng-click="ulangi()">ULANGI SIMULASI</button>
        </div>
    

    </script>
